---
// src/components/projects/ProjectGallery.astro
import { Image } from "astro:assets";
import closeCursor from "../../assets/cursors/projects-close-cursor.svg";
---

<dialog id="project-dialog" class="project-modal">
  <!-- <div class="modal-controls">
    <button id="close-dialog">CERRAR</button>
  </div> -->
  <button id="close-dialog">
    <Image
      src={closeCursor}
      alt="Close dialog"
      width={closeCursor.width}
      height={closeCursor.height}
    />
    <span>close</span>
  </button>

  <div class="dialog-minimap"></div>
  <div class="dialog-gallery" id="modal-gallery-content"></div>
</dialog>

<style>
  .dialog-minimap {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 100vh;
    width: 10vw;
    background-color: var(--color-red);
    z-index: 10;
  }

  .project-modal {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    margin: 0;
    padding: 0;

    border: none;
    cursor: auto;
  }

  .dialog-gallery {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  .dialog-gallery :global(img) {
    width: 100%;
    height: auto;
    object-fit: cover;

    margin: 0;
    padding: 0;
  }

  #close-dialog {
    position: sticky;
    top: var(--default-spacing-y);
    left: var(--default-spacing-x);
    z-index: 10;
    height: 10%;
    padding: 2rem;

    border-radius: 400vh;
    border: 2px solid var(--color-white);
    background-color: var(--color-black);
    opacity: 0.5;
    color: var(--color-white);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    transition: all 0.2s ease;

    img {
      width: 100%;
      height: 100%;
    }
  }
  #close-dialog:hover {
    opacity: 1;
    width: fit-content;
  }

  #close-dialog span {
    display: none;
    transition: display 1.2s ease;
  }

  #close-dialog:hover span {
    display: block;
  }
</style>

<script>
  const dialog = document.querySelector("#project-dialog") as HTMLDialogElement;
  const closeButton = document.querySelector("#close-dialog");
  const galleryContent = document.querySelector("#modal-gallery-content");

  // Hacer la función accesible globalmente
  // @ts-ignore
  window.openProjectGallery = (images: string[]) => {
    if (!galleryContent || !dialog) return;

    galleryContent.innerHTML = "";

    images.forEach((url) => {
      const img = document.createElement("img");
      img.src = url;
      galleryContent.appendChild(img);
    });

    dialog.showModal();
  };

  closeButton?.addEventListener("click", () => dialog.close());
</script>
