---
import PascaleSvgComponent from "@/assets/svg/pascaleSvgComponent.astro";
---

<section class="emile--hero">
    <div class="emile--hero--container">
        <PascaleSvgComponent />
    </div>
</section>

<style>
    .emile--hero {
        min-height: 100vh;
        padding: 0 var(--default-spacing-x);
    }

    .emile--hero--container {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>