@font-face {
    font-family: 'BricolageGrotesque';
    src: url('/fonts/BricolageGrotesque.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeutralFace';
    src: url('/fonts/NeutralFace-Bold.otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeutralFace';
    src: url('/fonts/NeutralFace.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-bricolage: 'BricolageGrotesque', sans-serif;
    --font-neutral: 'NeutralFace', sans-serif;
}

body {
    font-family: var(--font-bricolage);
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--color-black);
}