@font-face {
    font-family: 'BricolageGrotesque';
    src: url('/fonts/BricolageGrotesque.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-bricolage: 'BricolageGrotesque', sans-serif;
}

body,
input,
textarea,
input::placeholder,
textarea::placeholder,
button {
    font-family: var(--font-bricolage);
    font-size: var(--default-clamp-size);
    font-weight: 900;
    text-transform: uppercase;
    color: var(--color-black);
}