---

---

<section class="about--section">
    <!-- <img src="/assets/logo/logo_uniko.svg" alt="" /> -->
    <h2>about</h2>
    <p>
        Uniko studio is a design studio based in England. We work with emerging
        and established companies to deliver compelling brand experiences. Our
        approach is as strategic as it is visually driven.
    </p>
    <p>
        We work with a diverse selection of clients, from start-ups to
        established companies. Like us, our clients believe in the power of
        branding and design. Our clients also want to make an impact – to do
        better, be better and help install a brighter future for the people
        around them.
    </p>
</section>

<style>
    .about--section {
        display: grid;
        grid-template-columns: var(--grid-container-columns);
        grid-template-rows: var(--grid-container-rows);
        gap: var(--grid-container-gap);

        padding: calc(var(--default-spacing-y) * 4) var(--default-spacing-x);
        line-height: calc(var(--default-spacing-y) * 1.2);
    }

    h2 {
        grid-column: 2;
height: min-content;
        text-align: center;
        position: sticky;
        top: 0;

    }

    p {
        grid-column: 4 / 9;
        align-self: center;
        justify-self: center;
    }
</style>
<script>
    const h2 = document.querySelector("h2") as HTMLElement;
    const navLogo = document.querySelector(".nav--logo") as HTMLElement;

    h2.style.setProperty("top", navLogo.getBoundingClientRect().top + "px");
</script>
