---
import { getProjectImages } from "@/lib/getProyectImages.ts";

const parcellesGlob = import.meta.glob(
    "/src/assets/projects/uniko_projects/parcelles/*.{jpg,png,webp}",
    { eager: true, as: "url" },
);

const boiresGlob = import.meta.glob(
    "/src/assets/projects/uniko_projects/boires/*.{jpg,png,webp}",
    { eager: true, as: "url" },
);

const studioGlob = import.meta.glob(
    "/src/assets/projects/uniko_projects/studio/*.{jpg,png,webp}",
    { eager: true, as: "url" },
);

const parcellesImages = getProjectImages(parcellesGlob);
const boiresImages = getProjectImages(boiresGlob);
const studioImages = getProjectImages(studioGlob);
---

<section>
    {parcellesImages.map((image) => <img src={image} alt="" />)}
    {boiresImages.map((image) => <img src={image} alt="" />)}
    {studioImages.map((image) => <img src={image} alt="" />)}
</section>
