---
import PARCELLES from "@/assets/projects/uniko_projects/parcelles/1-parcelles.png";
import BOIRES from "@/assets/projects/uniko_projects/boires/1-boires.webp";
import STUDIO from "@/assets/projects/uniko_projects/studio/1-studio.webp";

import { Image } from "astro:assets";

const projects = [
    { projectName: "parcelles", alt: "parcelles", src: PARCELLES },
    { projectName: "boires", alt: "boires", src: BOIRES },
    { projectName: "studio", alt: "studio", src: STUDIO },
];
---

<section class="projects">
    <div class="projects--open-project-pill">open project!</div>

    {
        projects.map((project) => {
            return (
                <article
                    class="projects--project"
                    data-project-name={project.projectName}
                >
                    <Image
                        src={project.src}
                        alt={project.alt}
                        data-project-name={project.projectName}
                    />
                </article>
            );
        })
    }

    <dialog class="showtest">
        <button>CLOSE</button><div class="dialog-gallery"></div>
    </dialog>
</section>

<style>
    .projects {
        cursor: url("/src/assets/cursors/projects-cursor.svg"), default;
        position: relative;
    }
    dialog {
        cursor: url("/src/assets/cursors/projects-close-cursor.svg"), default;
    }

    .projects--open-project-pill {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-white);
        padding: 1rem 2rem;
        border-radius: 100vw;
    }

    .projects--project img {
        width: 100%;
        height: 100%;
    }

    .showtest {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        width: 100%;
        height: 100%;

        max-width: 100%;
        max-height: 100%;

        border: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
</style>

<script>
    import { getProjectImages } from "@/lib/getProyectImages.ts";
    const closeButton = document.querySelector("button");
    const testingDiv = document.querySelector(".showtest");
    const dialogGallery = document.querySelector(".dialog-gallery");

    const clickableImgProjects = document.querySelectorAll("img");
    clickableImgProjects.forEach((img) => {
        img.addEventListener("click", () => {
            projectOverview(img.dataset.projectName);
        });
    });

    closeButton.onclick = () => {
        dialogGallery.innerHTML = "";
        testingDiv.close();
    };

    const projectOverview = (projectName) => {
        switch (projectName) {
            case "parcelles":
                const parcellesGlob = import.meta.glob(
                    "/src/assets/projects/uniko_projects/parcelles/*.{jpg,png,webp}",
                    { eager: true, as: "url" },
                );

                const parcellesImages = getProjectImages(parcellesGlob);

                showTesting(parcellesImages);
                console.log(parcellesImages);
                break;

            case "boires":
                const boiresGlob = import.meta.glob(
                    "/src/assets/projects/uniko_projects/boires/*.{jpg,png,webp}",
                    { eager: true, as: "url" },
                );

                const boiresImages = getProjectImages(boiresGlob);

                showTesting(boiresImages);
                console.log(boiresImages);
                break;

            case "studio":
                const studioGlob = import.meta.glob(
                    "/src/assets/projects/uniko_projects/studio/*.{jpg,png,webp}",
                    { eager: true, as: "url" },
                );

                const studioImages = getProjectImages(studioGlob);
                showTesting(studioImages);
                console.log(studioImages);
            default:
                console.error("No project found");
                break;
        }
    };

    const showTesting = (testingImgs) => {
        testingImgs.forEach((imgSrc) => {
            let img = document.createElement("img");
            img.src = imgSrc;

            dialogGallery?.appendChild(img);
            testingDiv.showModal();
        });
    };

    import gsap from "gsap";

    gsap.set(".projects--open-project-pill", { xPercent: -50, yPercent: -50 });

    let xTo = gsap.quickTo(".projects--open-project-pill", "x", {
            duration: 0.6,
            ease: "power3",
        }),
        yTo = gsap.quickTo(".projects--open-project-pill", "y", {
            duration: 0.6,
            ease: "power3",
        });

    window.addEventListener("mousemove", (e) => {
        xTo(e.clientX);
        yTo(e.clientY);
    });
</script>
