---
const parcellesImages = import.meta.glob(
    "/src/assets/projects/uniko_projects/parcelles/*.{jpg,png,webp}",
    { eager: true, as: "url" },
);

const boiresImages = import.meta.glob(
    "/src/assets/projects/uniko_projects/boires/*.{jpg,png,webp}",
    { eager: true, as: "url" },
);

const orderedImages = (projectImages) => {
    return Object.entries(projectImages)
        .sort(([a], [b]) => a.localeCompare(b, undefined, { numeric: true }))
        .map(([, url]) => url);
};

const parcellesOrderedImages = orderedImages(parcellesImages);
const boiresOrderedImages = orderedImages(boiresImages);
---

<section>
    {parcellesOrderedImages.map((image) => <img src={image} alt="" />)}
    {boiresOrderedImages.map((image) => <img src={image} alt="" />)}
</section>
