<!-- ---
import { Image } from "astro:assets";

const images = import.meta.glob(
    "/src/assets/projects/uniko_projects/parcelles/*.{jpg,png,webp}",
    { eager: true },
);
---

<section>
    {
        Object.entries(images).map(([path, image]) => (
            <Image src={image.default} alt="" />
        ))
    }
</section>

<script>
    const images = import.meta.glob(
        "/src/assets/projects/uniko_projects/parcelles/*.{jpg,png,webp}",
        { eager: true },
    );
    console.log(images);
    const sortedImages = Object.entries(images)
        .sort(([pathA], [pathB]) => {
            const numA = Number(pathA.match(/(\d+)\.jpg$/)?.[1]);
            const numB = Number(pathB.match(/(\d+)\.jpg$/)?.[1]);
            return numA - numB;
        })
        .map(([, module]) => module.default);
    console.log("sortedImages", sortedImages);
</script> -->
