:root {
    --color-black: #181818;
    --color-white: #fff;
    --color-red: #c72b2b;
}

body {
    color: var(--color-black);
    background-color: var(--color-white);
}

a {
    color: var(--color-black);
    text-decoration: none;
}