---
let navLinks = [
    {
        href: "/emile",
        label: "Emile",
        className: "nav--emile",
    },
    {
        href: "/pascale",
        label: "Pascale",
        className: "nav--pascale",
    },
];

const currentPath = Astro.url.pathname;
---

<nav>
    <a href="/" class="nav--logo"
        ><img src="/assets/logo/logo_uniko.svg" alt="" /></a
    >
    {
        navLinks.map((link) => (
            <a
                href={link.href}
                class={`${link.className} ${currentPath === link.href ? "active--link" : ""}`}
            >
                <span class="nav--hover-arrow">&rarr;</span> {link.label}
            </a>
        ))
    }
</nav>
<style>
    nav {
        /* opacity: 0; */
        position: fixed;
        top: 2rem;
        left: 0;
        right: 0;
        z-index: 1000;
        padding: 0 var(--default-spacing-x);
        width: max-content;

        a {
            padding-right: 1rem;
        }

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--default-spacing-y);

        /* mix-blend-mode: difference; */
    }

    nav > * {
        /* color: var(--color-white); */
        color: var(--color-black);

        &.active--link {
            color: var(--color-red);
        }
    }

    .nav--logo {
        width: 100%;
        max-width: 10rem;
    }

    .nav--emile {
        grid-column: 1;
        grid-row: 2;
    }

    .nav--pascale {
        grid-column: 1;
        grid-row: 3;
    }

    .nav--hover-arrow {
        display: inline-block;
        max-width: 0;
        opacity: 0;
        transition: all 0.1s ease-in-out;
        overflow: hidden;
    }

    .nav--emile:hover .nav--hover-arrow,
    .nav--pascale:hover .nav--hover-arrow {
        max-width: 1.5rem;
        opacity: 1;
    }
</style>
<!-- 
<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    gsap.to("nav", {
        opacity: 1,
        duration: 0.3,
        scrollTrigger: {
            trigger: ".main--container h1 span",
            start: "top top",
            end: "bottom top",
            markers: true,
        },
    });
</script> -->
