---

---

<nav>
    <a href="/" class="nav--logo"
        ><img src="/assets/logo/logo_uniko_white.svg" alt="" /></a
    >
    <a href="/emile" class="nav--emile"
        ><span class="nav--hover-arrow">&rarr;</span> emile</a
    >
    <a href="/pascale" class="nav--pascale"
        ><span class="nav--hover-arrow">&rarr;</span> pascale</a
    >
</nav>
<style>
    nav {
        position: fixed;
        top: 2rem;
        left: 0;
        right: 0;
        z-index: 1000;
        padding: 0 var(--default-spacing-x);
        width: calc(max-content + var(--default-spacing-x));

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--default-spacing-y);

        mix-blend-mode: difference;
    }

    nav > * {
        color: var(--color-white);
    }

    .nav--logo {
        width: 100%;
        max-width: 10rem;
    }

    .nav--emile {
        grid-column: 1;
        grid-row: 2;
    }

    .nav--pascale {
        grid-column: 1;
        grid-row: 3;
    }

    .nav--hover-arrow {
        display: inline-block;
        max-width: 0;
        opacity: 0;
        transition: all 0.1s ease-in-out;
        overflow: hidden;
    }

    .nav--emile:hover .nav--hover-arrow,
    .nav--pascale:hover .nav--hover-arrow {
        max-width: 1.5rem;
        opacity: 1;
    }
</style>
