---

---

<nav>
    <a href="/"><img src="/public/assets/logo/logo_uniko_600px.png" alt="" /></a
    >
    <a href="#">MENU</a>
</nav>

<style>
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    img {
        max-width: 30%;
    }
</style>
